.App {
  text-align: center;
}

.App-header {
  background-color: #00010d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.select-box {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  background-color: #e6e6e63d;
}

.left-select, .right-select {
  margin: 20px;
}

input {
  background-color: white;
  border: none;
  color: #000;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: text;
  height: 20px;
  border-radius: 10px;
  margin: auto;
}

input[type="submit"] {
  background-color: transparent;
  background-image: linear-gradient(180deg, #00D4FF 0%, #0057C5 100%);
  border-radius: 10px;
  border: none;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  margin: auto;
  margin-right: 20px;
  height: 50px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

input[type="submit"]:hover {
  transform: scale(1.05);
}

p {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}
